version: '3.8'

services:
  jellyfix:
    container_name: jellyfix
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
